<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BorguaDao">
	<!-- 添加抵（质）押物品信息 -->
	<insert id="addBorgua" parameterType="com.entity.Borgua">
		insert into borgua values(#{borId,jdbcType=VARCHAR},gua_sequence.currval,null)
	</insert>
</mapper>