<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BorLoanInfoDao">
	<!-- 查询个人用户贷款信息 -->
	<select id="findBorLoanInfo" resultType="com.entity.BorLoanInfo">
		select distinct
		bor.bor_name,bori.borloaninfo_id,bi.bankinfo_name,bori.contract_id,
		e.emp_name,lt.loantype_name,bori.loan_number,bori.loan_account,
		bori.loan_date,bori.loan_repayment_date,bori.loan_rate,
		lg.lmr_name
		from borrower bor,bankinfo bi,employee e,loantype lt,
		borloaninfo
		bori,loanmanagerecord lg
		where bor.bor_id=bori.bor_id and
		bi.bankinfo_id=bori.bankinfo_id
		and bori.emp_id=e.emp_id and
		bori.loan_type=lt.loantype_id
		and lg.loaninfo_id=bori.borloaninfo_id
		and bori.loaninfo_type=0
	</select>

	<!-- 查询个人用户贷款信息 -->
	<select id="findBorLoanDetail" resultType="java.util.HashMap">
		select
		bli.borloaninfo_id, bli.bor_id,ee.emp_name,
		bli.emp_id,(bli.loan_number - bli.unrepay_number) unrepay_number
		,bk.bankinfo_name, bli.loan_number
		,bli.loan_account,to_char(bli.loan_date,'yyyy-MM-dd') loanDate
		,to_char(bli.loan_repayment_date,'yyyy-MM-dd') loanRepaymentDate,
		bli.loan_rate ,bli.loaninfo_type ,bor.bor_name
		,lt.loantype_name
		,ls.loanstate_name
		from
		employee ee, borLoanInfo bli,borrower
		bor,loantype lt ,loanmanage lm,loanstate ls,bankinfo bk
		where
		bli.bor_id = bor.bor_id and bli.loan_type = lt.loantype_id
		and
		lm.loaninfo_id = bli.borloaninfo_id
		and lm.loanstate_id =
		ls.loanstate_id
		and ee.emp_id = bli.emp_id
		and bli.bankinfo_id =
		bk.bankinfo_id
	</select>

	<!-- 查询贷款详情 -->
	<select id="findBorLoanDetailsById" parameterType="int"
		resultType="java.util.HashMap">
		select bli.borloaninfo_id, bli.bor_id, bli.emp_id ,
		bli.loan_number ,bli.loan_account ,bli.unrepay_number
		,to_char(bli.loan_date,'yyyy-MM-dd') as loanDate
		,to_char(bli.loan_repayment_date,'yyyy-MM-dd') as loanRepaymentDate
		,bli.loaninfo_type ,lt.loantype_name,ls.loanstate_name
		,bi.bankinfo_name,bi.bankinfo_telephone,bi.bankinfo_address
		from
		borLoanInfo bli,loantype lt,loanmanage lm,
		loanstate ls,bankInfo bi
		where bli.loan_type = lt.loantype_id and bli.bankinfo_id =
		bi.bankinfo_id
		and lm.loaninfo_id = bli.borloaninfo_id and
		lm.loanstate_id =
		ls.loanstate_id and bli.borloaninfo_id=
		#{borloaninfoId}
	</select>

	<!-- 查询贷款用户信息 -->
	<select id="findCusDetailsById" parameterType="int"
		resultType="java.util.HashMap">
		select * from borrower where bor_id = #{borId}
	</select>

	<!--查询贷款负责人 -->
	<select id="findEmpDetailsById" parameterType="String"
		resultType="java.util.HashMap">
		select * from employee where emp_id=#{empId}
	</select>

	<!-- 查询贷款担保人 -->
	<select id="findGuaDetailsById" parameterType="int"
		resultType="java.util.HashMap">
		select gua.*
		from borloaninfo bli,guarantor gua,borgua bg
		where bli.borloaninfo_id = #{borloaninfoId}
		and bli.borloaninfo_id =
		bg.loaninfo_id
		and gua.gua_id = bg.gua_id
	</select>

	<!-- 查询抵质押物 -->
	<select id="findPledge" parameterType="int" resultType="java.util.HashMap">
		select
		p.* from pledge p,customergoods
		cg where
		cg.loaninfo_id =
		#{borloaninfoId,jdbcType=VARCHAR} and p.pledge_id =
		cg.goods_id
	</select>

	<!-- 查询还款信息 -->
	<select id="findRepayRecord" parameterType="int" resultType="java.util.HashMap">
		select * from repaymentinfo where loaninfo_id =
		#{borloaninfoId,jdbcType=NUMERIC}
	</select>

	<!-- 查询催收信息 -->
	<select id="findLMR" parameterType="int" resultType="java.util.HashMap">
		select *
		from loanmanagerecord where
		loaninfo_id=#{borloaninfoId,jdbcType=NUMERIC}
	</select>

	<!-- 查询紧急联系人信息 -->
	<select id="findContect" parameterType="int" resultType="java.util.HashMap">
		select *
		from contect c,contectuser cu where c.contect_id = cu.bcom_id and
		cu.contect_id= #{borId}
	</select>

	<!-- 添加个人用户贷款信息 -->
	<insert id="addBorLoanInfo" useGeneratedKeys="false"
		parameterType="com.entity.BorLoanInfo">
		insert into borloaninfo
		values(#{loaninfoType},borloaninfo_sequence.nextval,#{borId,jdbcType=VARCHAR},#{bankinfoId,jdbcType=VARCHAR},
		#{contractId,jdbcType=VARCHAR},#{empId,jdbcType=VARCHAR},
		#{loanType,jdbcType=VARCHAR},#{loanNumber,jdbcType=VARCHAR},
		#{loanAccount,jdbcType=VARCHAR},to_date(#{loanDate,jdbcType=VARCHAR},'yyyy-MM-dd'),
		to_date(#{loanRepaymentDate,jdbcType=VARCHAR},'yyyy-MM-dd'),
		#{loanRate,jdbcType=VARCHAR},#{unrepayNumber,jdbcType=NUMERIC})
	</insert>

	<!-- 根据贷款类型，贷款编号查询个人贷款信息 -->
	<select id="findBorLoanInfo2" resultType="com.entity.BorLoanInfo">
		select
		bi.bor_id,bw.bor_name,e.emp_id,e.emp_name,bk.bankinfo_id,bk.bankinfo_name
		from borloaninfo bi,borrower bw,bankinfo bk,employee e
		where
		bi.bor_id=bw.bor_id and bi.bankinfo_id=bk.bankinfo_id
		and
		bi.emp_id=e.emp_id
		and bi.loaninfo_type=0
		and
		bi.borloaninfo_id=#{borloaninfoId}
	</select>

	<!-- 根据贷款编号修改业务移交相关信息 -->
	<update id="modifyBorLoanInfo" parameterType="com.entity.BorLoanInfo">
		update borloaninfo
		set emp_id=#{0}
		where borloaninfo_id=#{1} and loaninfo_type=0
	</update>

	<!-- 添加一条债款管理记录 -->
	<insert id="addLoanManageRecordMap" parameterType="java.util.HashMap">
		insert into
		loanmanagerecord
		(lmr_id,loaninfo_id,emp_id,lmr_date,lmr_name,lmr_comment) values
		(lmr_sequence.nextval,#{borloaninfoId,jdbcType=VARCHAR},#{empId,jdbcType=VARCHAR},to_char(sysdate,'yyyy-MM-dd'),0,#{lmrComment})
	</insert>

	<!-- 修改贷款状态 -->
	<update id="modifyLoanStateMap" parameterType="java.util.HashMap">
		update loanmanage
		set loanstate_id = #{loanState,jdbcType=VARCHAR} where
		loaninfo_id =
		#{borloaninfoId,jdbcType=VARCHAR}
	</update>

	<!-- 模糊查询 -->
	<select id="findBorSearch" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select
		bli.borloaninfo_id,
		bli.bor_id,ee.emp_name,
		bli.emp_id
		,bli.unrepay_number,
		bli.loan_number
		,bli.loan_account
		,to_char(bli.loan_date,'yyyy-MM-dd')
		loanDate
		,to_char(bli.loan_repayment_date,'yyyy-MM-dd')
		loanRepaymentDate,
		bli.loan_rate
		,bli.loaninfo_type ,
		bor.bor_name
		,lt.loantype_name
		,ls.loanstate_name,bk.bankinfo_name
		from
		employee ee,
		borLoanInfo bli,
		borrower
		bor,loantype
		lt,loanmanage lm,loanstate
		ls,bankinfo bk
		<where>
			bli.bor_id = bor.bor_id
			and bli.loan_type = lt.loantype_id
			and
			lm.loaninfo_id = bli.borloaninfo_id
			and lm.loanstate_id =
			ls.loanstate_id
			and ee.emp_id = bli.emp_id
			and bli.bankinfo_id =
			bk.bankinfo_id
			<if test="borName!=null and borName!=''">
				and bor.bor_name like '%' || '${borName}' ||'%'
			</if>
			<if test="empName!=null and empName!=''">
				and ee.emp_name like '%' || '${empName}' ||'%'
			</if>
			<if test="contractId!=null and contractId!=''">
				and bli.contract_id like '%' || '${contractId}' || '%'
			</if>
			<if
				test="loanStateId!=null and loanStateId!='' and !(loanStateId.length()>5)">
				and lm.loanstate_id = #{loanStateId,jdbcType=VARCHAR}
			</if>
			<if test="bankId!=null and bankId!='' and !(bankId.length()>5)">
				and bli.bankinfo_id = #{bankId,jdbcType=VARCHAR}
			</if>
			<choose>
				<when test="dateFrom!=null and dateFrom!=''">
					and bli.loan_repayment_date between
					to_date('${dateFrom}','yyyy/MM/dd')
				</when>
				<otherwise>
					and bli.loan_repayment_date between
					to_date('1900-01-01','yyyy/MM/dd')
				</otherwise>
			</choose>
			<choose>
				<when test="dateTo!=null and dateTo!=''">
					and to_date('${dateTo}','yyyy/MM/dd')
				</when>
				<otherwise>
					and to_date('2100-12-31','yyyy/MM/dd')
				</otherwise>
			</choose>
		</where>
	</select>
	<!-- 合同编号唯一性验证 -->
	<select id="findcontractId" resultType="com.entity.BorLoanInfo">
		select contract_id from
		borloaninfo where contract_id=#{contractId}
	</select>
	<!-- 修改未还金额 -->
	<update id="modifyUnrepayNumber" parameterType="java.util.HashMap">
		update
		borloaninfo set unrepay_number = #{unrepayNumber,jdbcType=NUMERIC}
		where borloaninfo_id = #{borloaninfoId,jdbcType=VARCHAR}
	</update>
	<!-- 添加清收记录 -->
	<insert id="addRepaymentinfo" parameterType="java.util.HashMap">
		insert into
		repaymentinfo
		(repay_id,loaninfo_id,emp_id,repay_date,repay_type,repay_comment,repay_number)
		values
		(repay_se.nextval,#{borloaninfoId,jdbcType=VARCHAR},#{empId,jdbcType=VARCHAR},to_date(sysdate,'yyyy-MM-dd'),#{repayType,jdbcType=VARCHAR},#{repayComment,jdbcType=VARCHAR},#{repayNumber,jdbcType=NUMERIC})
	</insert>
</mapper>