<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dao.BorRowerDao">
	<select id="findBorRowers" resultType="com.entity.BorRower">
		<!-- select * from borrower -->
		select bor_id,bor_name,bor_gender,bor_birthday,bor_nation,bor_marry,bor_cardtype,bor_cardnumber,bor_register,bor_address,bor_unit,bor_unit_address,bor_unit_phone,bor_position,bor_income,bor_phone,bor_postcode,bor_education,bor_photo from borrower
	</select>
	
	<insert id="addBorRowers" useGeneratedKeys="false" parameterType="com.entity.BorRower">
		insert into borrower values(#{borId,jdbcType=VARCHAR},#{borName,jdbcType=VARCHAR},
		#{borGender,jdbcType=VARCHAR},#{borBirthday,jdbcType=VARCHAR},
		#{borNation,jdbcType=VARCHAR},#{borMarry,jdbcType=VARCHAR},
		#{borCardtype,jdbcType=VARCHAR},#{borCardnumber,jdbcType=VARCHAR},
		#{borRegister,jdbcType=VARCHAR},#{borAddress,jdbcType=VARCHAR},
		#{borUnit,jdbcType=VARCHAR},#{borUnitAddress,jdbcType=VARCHAR},
		#{borUnitPhone,jdbcType=VARCHAR},#{borPosition,jdbcType=VARCHAR},
		#{borIncome,jdbcType=VARCHAR},#{borPhone,jdbcType=VARCHAR},
		#{borPostcode,jdbcType=VARCHAR},#{borEducation,jdbcType=VARCHAR},
		#{borCredit,jdbcType=VARCHAR},#{borPhoto,jdbcType=VARCHAR});
	</insert>
</mapper>
	