<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dao.CompanyDao">
	<select id="findCompany" resultType="com.entity.Company">
		select c.*,l.* from conpanyLegal cl join company  c on c.com_id=cl.company_id join legal l on l.legal_id=cl.legal_id
		
		<!-- select com_id,com_name,com_code,com_type,com_license,com_address,com_card,com_parent,com_legal_id,com_property,com_postcode,com_linkman,com_linphone,com_fund,com_credit,con_photo from company -->
	</select>
	<select id="findCompanmohu" resultType="com.entity.Company">
		select c.*,l.* from conpanyLegal cl join company  c on c.com_id=cl.company_id join legal l on l.legal_id=cl.legal_id
		where 
			<if test="_parameter!=null">
				c.com_name like '%'||#{_parameter}||'%'
			</if>
	</select>
	<insert id="addCompany" useGeneratedKeys="false" parameterType="com.entity.Company">
		insert into company values(company_seq.nextval,#{comName,jdbcType=VARCHAR},#{comCode,jdbcType=VARCHAR},#{comType,jdbcType=VARCHAR},#{comLicense,jdbcType=VARCHAR},#{comAddress,jdbcType=VARCHAR},#{comCard,jdbcType=VARCHAR},#{comParent,jdbcType=VARCHAR},#{comLegalId,jdbcType=VARCHAR},#{comProperty,jdbcType=VARCHAR},#{comPostcode,jdbcType=VARCHAR},#{comLinkman,jdbcType=VARCHAR},#{comLinphone,jdbcType=VARCHAR},#{comFund,jdbcType=VARCHAR},#{comCredit,jdbcType=VARCHAR},#{conPhoto,jdbcType=VARCHAR})
	</insert>
</mapper>