<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dao.UsersDao">
	<!--  查询系统用户 -->
	<select id="findUsers" resultType="com.entity.Users">
		select * from Users
	</select>
	
	<!--  查询員工沒有账户密码的-->
	<select id="findEmp" resultType="com.entity.Emp">
		select emp_id,emp_name from employee where emp_id not in (select emp_id from users)
	</select>
	
	
	<!-- 添加系统用户-->
	<insert id="addUsers" parameterType="com.entity.Users">
		insert into users(user_id,user_name,user_username,user_password,emp_id)values(#{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{userUsername,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR},#{empId,jdbcType=VARCHAR})
	</insert>
	<!--  查询沒有角色的用戶-->
	<select id="findRole" resultType="com.entity.Role">
		select * from role
	</select>
</mapper>
